@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

@mixin img-replace($img, $width, $height, $display: block) {
  background: url('#{$path--rel}/#{$img}') no-repeat;
  width: $width;
  height: $height;
  display: $display;
}

@mixin pseudo-element(
  $element,
  $element-width: null,
  $element-height: null
) {
  @if $element == "before" or $element == "after" {
    &:#{$element} {
      @extend %pseudos;
      width: $element-width;
      height: $element-height;
      @content;
    }
  } @else {
    @error "`#{$element}` is not a valid pseudo-element.";
  }
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Adjacent sibling margins
@mixin doubly($margin: 1em) {
  & + & {
    margin-left: $margin;
    @content;
  }
}